@variants active, hover {
    .bg-animate {
        background-color: theme('colors.highlight');
        background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23383838' fill-opacity='0.64'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        animation: bg-animate 2s infinite linear;
    }
    .bg-animate-short {
        background-color: theme('colors.highlight');
        background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23383838' fill-opacity='0.64'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        animation: bg-animate-short 2s infinite linear;
    }
}

.bg-animate-colorless {
    background-color: unset;
}

.bg-animate-alternate {
    animation-direction: alternate;
}

.bg-animate-1\/5 { animation-duration: 0.2s; }
.bg-animate-2\/5 { animation-duration: 0.4s; }
.bg-animate-3\/5 { animation-duration: 0.6s; }
.bg-animate-4\/5 { animation-duration: 0.8s; }
.bg-animate-5\/5 { animation-duration: 1.0s; }

@keyframes bg-animate {
    0% {
        background-position: 0 0;
        filter: hue-rotate(0deg);
    }
    50% {
        filter: hue-rotate(30deg);
    }
    100% {
        background-position: 260px 104px;
        filter: hue-rotate(0deg);
    }
}

@keyframes bg-animate-short {
    0% {
        background-position: 0 0;
        filter: hue-rotate(0deg);
    }
    50% {
        filter: hue-rotate(30deg);
    }
    100% {
        background-position: 52px 26px;
        filter: hue-rotate(0deg);
    }
}