<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>GoTasks</title>

  <%= stylesheetTag("main.css") %>
  <link rel="icon" href="<%= assetPath("images/favicon.ico") %>">
  <%= if (env("GO_ENV") == "development") { %>
  <script src="http://localhost:35729/livereload.js"></script>
  <% } %>
</head>
<body>

  <div id="app"></div>
  
  <%= javascriptTag("main.js") %>
</body>
</html>